/* 기본 여백 초기화 */
* {
    margin: 0; /* 바깥 여백*/
    padding: 0; /* 안 여백*/
}
html {
    scroll-behavior: smooth; /* 스크롤 : 부드럽게*/
}
.bg-blue {
    background-color: #3405e0; /* 배경색상*/
    height: 200; /*높이*/
}
.bg-blue img{
    width : 100%
    object-fit: cover; /* 사진의 크기를 공간에 늘리거나 줄이게*/
}

#avatar {
    background-color: goldenrod; 
    width : 170px; /* 가로 폭 */
    height: 170; /*가로 높이*/
    border-radius: 50%; /*테두리-반경*/
    overflow: hidden; /*넘침*/
    margin: 0 auto; /*가로 중앙에 배치*/
    position: relative; /*위치 : */
    top: 100px;

}

.summary {
    width: 50%; /*가로폭*/
    margin: 100px auto;/*여백 상하좌우*/
    text-align: center;/*텍스트 정렬 가운데*/
    font-size: 11px;
    line-height: 23px;
}

.joblist, .info, .sns {
    margin: 16px auto;
    text-align: center;
    color: #3405e0;
    font-size:12px;
    line-height: 26px;
}

.owner {
    background-color: rgb(93, 0, 255);
}
.owner p {
    display:inline-block;
    margin: 0 100px 0 0;
}
.owner p, .owner a {color: white;}


/* midea query*/
@media screen and (min-width : 480px) {
    #avatar-box {
        background-color: #e0058c;
    }
}

